/* Tooltip Styles */
[data-tooltip] {
  position: relative;
}

[data-tooltip]::before,
[data-tooltip]::after {
  --scale: 0;
  --arrow-size: 6px;
  --tooltip-color: #333;
  --tooltip-text-color: #fff;
  
  position: absolute;
  top: -var(--arrow-size);
  left: 50%;
  transform: translateX(-50%) translateY(calc(-1 * var(--arrow-size) - 5px)) scale(var(--scale));
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: bottom center;
  z-index: 101;
  opacity: 0;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
              opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  background: var(--tooltip-color);
  color: var(--tooltip-text-color);
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  width: max-content;
  max-width: 200px;
  font-size: 12px;
  bottom: 100%;
  top: auto;
  transform: translateX(-50%) translateY(calc(-1 * var(--arrow-size) - 5px)) scale(var(--scale));
}

[data-tooltip]::after {
  content: '';
  border-width: var(--arrow-size) var(--arrow-size) 0 var(--arrow-size);
  border-style: solid;
  border-color: var(--tooltip-color) transparent transparent transparent;
  bottom: calc(100% - var(--arrow-size));
  top: auto;
  transform: translateX(-50%) translateY(calc(-1 * var(--arrow-size) - 5px)) scale(var(--scale));
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after,
[data-tooltip].tooltip-active::before,
[data-tooltip].tooltip-active::after {
  --scale: 1;
  opacity: 1;
  transform: translateX(-50%) translateY(calc(-1 * var(--arrow-size) - 5px)) scale(var(--scale));
  transition-delay: 1s;
}

[data-tooltip].tooltip-active::before,
[data-tooltip].tooltip-active::after {
  z-index: 102;
}

[data-tooltip].tooltip-right::before,
[data-tooltip].tooltip-right::after {
    left: auto;
    right: 0%;
    transform: translateX(0%) translateY(var(--arrow-size)) scale(var(--scale));
    transform-origin: bottom right;
}

[data-tooltip].tooltip-right::after {
     left: auto;
     right: 0%;
     border-color: var(--tooltip-color) transparent transparent transparent;
} 